<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Concejo</title>
</head>
<body>
    <label for="nombre" class="form-label" th:text="${nExpediente}"></label>
    <div sec:authorize="hasRole('ENTRADA')"> 
         <a class="btn btn-primary" th:href="@{/mesa-entrada/ciudadanoBuscar}">Aceptar</a>
    </div>
   
    <div sec:authorize="hasRole('ADMIN')"> 
        <a class="btn btn-primary" th:href="@{/home}">Aceptar</a>
   </div>

    <script src="/static/css/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/css/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/static/css/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
