<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Concejo</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{'/home'}">Concejo Recreo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="principal.username">

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navCambiar barDropdown">
                            <li><a class="dropdown-item" th:href="@{/password/cambiarPassword}">Cambiar contraseña</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <form th:action="@{/logout}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <li><button type="submit" class="dropdown-item">Cerrar sesión</button></li>
                            </form>
                        </ul>
                    </li>
                    <!-- Menú de Usuarios (visible solo para ADMIN) -->
                    <li class="nav-item dropdown" sec:authorize="hasRole('SEC_PARLAMENTARIO')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsuarios" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsuarios">
                            <li><a class="dropdown-item" th:href="@{/secParlamentario/registroUsuario}">Registrar
                                    Usuario</a></li>
                            <li><a class="dropdown-item" th:href="@{/secParlamentario/buscarUsuario}">Buscar Usuario</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Menú de Expedientes (visible solo para ADMIN) -->
                    <li class="nav-item dropdown"
                        sec:authorize="hasAnyRole('CONCEJAL_COMISION_DE_DESARROLLO_URBANO_AMBIENTAL_Y_ECONOMIA', 'PRESIDENTE', 'SEC_PARLAMENTARIO', 'CONCEJAL_COMISION_DE_GOBIERNO_Y_DESARROLLO_SOCIAL')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownExpedientes" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Expedientes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownExpedientes">
                            <li><a class="dropdown-item" th:href="@{/secParlamentario/expediente/ingresos}"
                                    sec:authorize="hasRole('SEC_PARLAMENTARIO')">Ingresos</a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/expediente/buscarExpediente}"
                                    sec:authorize="hasAnyRole('CONCEJAL_COMISION_DE_DESARROLLO_URBANO_AMBIENTAL_Y_ECONOMIA', 'PRESIDENTE', 'SEC_PARLAMENTARIO', 'CONCEJAL_COMISION_DE_GOBIERNO_Y_DESARROLLO_SOCIAL')">Buscar
                                    Expediente</a></li>
                        </ul>
                    </li>

                    <!-- Menú de Mesa de Entrada (visible solo para ENTRADA) -->
                    <li class="nav-item dropdown" sec:authorize="hasRole('ENTRADA')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMesaEntrada" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mesa de Entrada
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMesaEntrada">
                            <li><a class="dropdown-item" th:href="@{/mesa-entrada/ciudadanoBuscar}">Recepción de Nota
                                    (Por el ciudadano)</a></li>
                            <li><a class="dropdown-item" th:href="@{/mesa-entrada/registroSalida}">Registrar Salida a
                                    Municipalidad</a></li>
                            <li><a class="dropdown-item" th:href="@{/mesa-entrada/registroEntrada}">Registrar repuesta
                                    desde la Municipalidad</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown"
                        sec:authorize="hasAnyRole('CONCEJAL_COMISION_DE_DESARROLLO_URBANO_AMBIENTAL_Y_ECONOMIA', 'PRESIDENTE', 'SEC_PARLAMENTARIO', 'CONCEJAL_COMISION_DE_GOBIERNO_Y_DESARROLLO_SOCIAL')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComisiones" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Comisiones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownComisiones">
                            <li
                                sec:authorize="hasAnyRole('PRESIDENTE', 'SEC_PARLAMENTARIO', 'CONCEJAL_COMISION_DE_GOBIERNO_Y_DESARROLLO_SOCIAL')">
                                <a class="dropdown-item" th:href="@{/comision/gobiernoYDesarrolloSocial}">Gobierno y
                                    Desarrollo
                                    Social</a>
                            </li>
                            <li
                                sec:authorize="hasAnyRole('CONCEJAL_COMISION_DE_DESARROLLO_URBANO_AMBIENTAL_Y_ECONOMIA', 'PRESIDENTE', 'SEC_PARLAMENTARIO')">
                                <a class="dropdown-item"
                                    th:href="@{/comision/desarrolloUrbanoAmbientalYEconomia}">Desarrollo Urbano
                                    Ambiental y Economía</a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/comision/ambasComisiones}">Ambas
                                    Comisiones</a></li>
                            <li><a class="dropdown-item" th:href="@{/expediente/archivo}">Archivo</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown"
                        sec:authorize="hasAnyRole('CONCEJAL_COMISION_DE_DESARROLLO_URBANO_AMBIENTAL_Y_ECONOMIA', 'PRESIDENTE', 'SEC_PARLAMENTARIO', 'CONCEJAL_COMISION_DE_GOBIERNO_Y_DESARROLLO_SOCIAL')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDespachoNotas" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Despacho y Notas de Comisión
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownDespachoNotas">
                            <li><a class="dropdown-item" th:href="@{/comision/despachoDeComision}">Despacho de
                                    Comisión</a></li>
                            <li><a class="dropdown-item" th:href="@{/comision/notaDeComision}">Notas de Comisión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-4">
        <h1>Detalles del Expediente</h1>

        <!-- Formulario para mostrar y editar el expediente /administrador/expediente/mover/{id}-->
        <form action="#" th:action="@{${urlForm}(id=${expediente.id})}" method="post" enctype="multipart/form-data"
            th:object="${frmExpedienteMover}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="mb-2"></div>
            <label for="caratula" class="form-label">Expediente:</label>
            <input type="text" id="idexpediente" name="idexpediente" class="form-control" th:value="${id}" readonly />


            <!-- Campo para la carátula del expediente -->
            <div class="mb-2">
                <label for="caratula" class="form-label">Carátula:</label>
                <input type="text" id="caratula" name="caratula" class="form-control" th:value="${caratula}" readonly />
            </div>

            <!-- Campo para la fecha de ingreso -->
            <div class="mb-2">
                <label for="fecha" class="form-label">Fecha de Ingreso:</label>
                <input type="date" id="fecha" name="fecha" class="form-control" th:value="${fecha}" readonly />
            </div>

            <!-- Campo para el CUIT del ciudadano -->
            <div class="mb-2">
                <label for="cuit" class="form-label">Nombre:</label>
                <input type="text" id="cuit" name="cuit" class="form-control" th:value="${nombre}" readonly />
            </div>
            <!-- Campo para la nota (archivo PDF) -->
            <div class="mb-2">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>fecha</th>
                            <th>detalle</th>
                            <th>accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="movimiento : ${movimientos}">
                            <td th:text="${movimiento.id}"></td>
                            <td th:text="${movimiento.fecha}"></td>
                            <td th:text="${movimiento.detalle}"></td>
                            <td>
                                <a class="" th:if="${movimiento.nota != null}"
                                    th:href="@{/notas/view/{id}(id=${movimiento.nota.id})}" target="_blank">Ver e Imprimir nota</a>
                                <p class="" th:if="${movimiento.nota == null}">No hay nota asociada</p>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            
                <button type="submit" class="btn btn-primary">Fin Expediente</button>
        </form>
    </div>

    <script th:src="@{/css/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script src="/static/css/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>