<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subir Nota</title>
    <link rel="stylesheet" type="text/css" href="../static/scss/style.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{'/'}">Consejo Recreo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/notas/upload'}">Ingresar Nota</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/notas'}">Todas las Notas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>El archivo se guardo correctamente</h1>
</body>
</html>